# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual Environment
venv/
.env/

# Dataset files
*.csv
*.zip
*.xlsx
*.txt
*.arff

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log
